# -----------------------------------------------------------------------------
# PostgreSQL database Config
# -----------------------------------------------------------------------------
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/sems?schema=public"
# -----------------------------------------------------------------------------
# Cloudinary Asset Storage Config
# -----------------------------------------------------------------------------
CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME_HERE
CLOUDINARY_API_KEY=YOUR_API_KEY_HERE
CLOUDINARY_API_SECRET=YOUR_API_SECRET_HERE
# -----------------------------------------------------------------------------
# Redis Cache Config
# ----------------------------------------------------------------------------- 
# REDIS_URL="redis://127.0.0.1:6379"